// Hér eiga að vera stillingar með scss breytum fyrir:
// grid, max-width á síðu, transitions,
// liti, margin-bottom gildi sem eru sameiginleg
$fonts: 'Open Sans', helvetica, arial, sans-serif;
$black: #000000;
$col: #222222;
$white: #eeeeee;
$gutter: 16px;
$grey: #CCCCCC;
